<div class="row marketing">
  <h3>Contacts</h3>
  
</div>

<!-- <div class="row">
  <div class="col-lg-3">
    <h4>Address</h4>
  </div>

  <div class="col-lg-9">
    <address>
      19 Compass Point, <br/>
      5 Grenade Street, London <br/>
      E14 8HL
    </address>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-3">
    <h4>Email</h4>
  </div>

  <div class="col-lg-9">
    <a class="link" href="mailto:aninalbandi@gmail.com"><span class="glyphicon glyphicon-envelope"></span> aninalbandi@gmail.com</a>
  </div>
</div>


<div class="row">
  <div class="col-lg-3">
    <h4>Phone</h4>
  </div>

  <div class="col-lg-9">
    <p><span class="glyphicon glyphicon-earphone"></span> +44(0)7463 713853</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <h4>LinkedIn</h4>
  </div>

  <div class="col-lg-9">
    <a class="link" href="https://www.linkedin.com/pub/ani-nalbandyan/95/a7/374">https://www.linkedin.com/pub/ani-nalbandyan/</a>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <h4>Availability</h4>
  </div>

  <div class="col-lg-9">
    <p>One week notice</p>
  </div>
</div>
