<div class="row marketing">
  <h3>Curriculum Vitae <a class="link subtle" href="/pdf/cc_a_nalbandyan.pdf"><span class="glyphicon glyphicon-file"></span>(pdf)</a></h3>
  
</div>

<div class="row ">
  <div class="col-xs-6">
    <h4>profile</h4>
    <p>I am an enthusiastic, reliable, self-motivated and 
    achievement orientated individual, who differs profitably in 
    executing tasks extremely attentive and fast. Additionally, 
    I have strong computer skills and I am always ready to 
    work hard to get the best results. </p>
  </div>
   <div class="col-xs-6">
    <h4 class="">cad skills</h4>
    <table class="pull-right skills">
      <tr><td>AutoCAD</td><td>6 years</td></tr>
      <tr><td>ArchiCAD</td><td>5 years</td></tr>
      <tr><td>Artlantis</td><td>5 years</td></tr>
      <tr><td>Adobe Photoshop</td><td>4 years</td></tr>
      <tr><td>Adobe InDesign</td><td>1 year</td></tr>
      <tr><td>Adobe After Effects</td><td>3 Months</td></tr>
      <tr><td>Revit Architecture</td><td>3 Months</td></tr>
    </table>
    <p class="skill"><strong>Able to acquire new computer skills with speed and 
accuracy</strong></p>
   </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <h4>education</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <p>Sep 2013 - Sep 2014</p>
  </div>
  <div class="col-xs-9">
    <h4>MSc, Architectural Design</h4>
    <p>The University of Greenwich, London, UK</p>
<!--     <p>Achievements: </p>
    <ul>
      <li>Distinction</li>
    </ul> -->
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <p>Jan 2012 - Jun 2013</p>
  </div>
  <div class="col-xs-9">
    <h4>Qualification of Architect / overseas</h4>
    <p class="strong">South Federal University, Russia</p>
    <p>Achievements: </p>
      <ul>
        <li>Distinction</li>
        <li>Awarded a certificate of the Russian Academy of
        Architecture and Building Studies, 1st degree certificate 
        on the XXI International competition in St. Petersburg for 
        diploma project “Technological park of the South Federal 
        University”</li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <p>Sep 2007 - Jan 2012</p>
  </div>
  <div class="col-xs-9">
    <h4>Bachelor of Architecture / overseas</h4>
    <p class="strong">South Federal University, Russia</p>
    <p>Achievements: </p>
      <ul>
        <li>First Class Honours</li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <h4>work experience</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <p>Feb 2013 - Sep 2013</p>
  </div>
  <div class="col-xs-9">
    <h4>Architectural Assistant</h4>
    <p class="strong">ProektService LTD</p>
      <ul>
        <li>Produced a 3D model, plans, sections and 
elevations of the existing HQ of Gazprom company in 
Moscow, consisted of 8 buildings, which facades’ materials 
were later renovated by the company; </li>
        <li>Executed and edited architectural plans of both 
public and private interior spaces on the design and 
construction stages;</li>
        <li>Prepared ready drawings to be printed and 
bound</li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <p>Jun 2012 - Feb 2013</p>
  </div>
  <div class="col-xs-9">
    <h4>Design engineer</h4>
    <p class="strong">Avant-Garde EIC LTD</p>
      <ul>
        <li>Took part in producing drawings of electric power 
for the State Power Plant; </li>
        <li>Made plans of electric equipment for two blocks 
of flats;</li>
        <li>Prepared, printed and bound albums of technical 
drawings.</li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <p>Jun 2011 - Jun 2012 (Part-time)</p>
  </div>
  <div class="col-xs-9">
    <h4>Advertising manager</h4>
    <p class="strong">Fast service restaurant</p>
      <ul>
        <li>Produced graphic design of the outdoor 
advertising, business cards, brochures, leaflets;</li>
        <li>Decorated the hall of the restaurant for weddings 
and other events</li>
      </ul>
  </div>
</di


<div class="row">
  <div class="col-xs-3">
    <h4>languages</h4>
    
  </div>
  <div class="col-xs-9">
    <p>English, Russian</p>
  </div>
</div>


<div class="row marketing footer">
  <!-- <p><span class="glyphicon glyphicon-heart"></span> from Ani Nalbandian</p> -->
</div>
