<div class="row" id="images">
    <div class="col-lg-12">
        <h3 class="page-header">Flooded City / 2014</h3>
        <p>"Around 5 million people, in 2 million properties, live in flood risk areas in England and Wales" (Environment Agency).</p>
        <p>Flood risk is a significant and growing problem; it is a new design challenge. Proposed design of the ‘Flooded city’ is a solution for a small village on the shore of the North Sea near Minster-on-Sea to save the village from the flood risk. New construction frames will accommodate old original houses which will be relocated on a safe level. The constructions of new raised footpaths, raised gardens and bridges will allow the residents to live their usual life even during the floods, which can become quite frequent for the village because of the climate change and rising of sea level. For the flooded periods cars and buses will be replaced by boats which can take the residents to the nearest not flooded transportation areas. </p>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="i in [0,1,2,3,4,5]">
        <a class="thumbnail" rel="group1" ng-click="imgclick($event);" 
            href="/images/proj/floodedcity/{{i}}.jpg">
            <img class="img-responsive" src="/images/proj/floodedcity/thumbnail/{{i}}.jpg">
        </a>
    </div>
    
</div>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">TECHNOLOGICAL PARK OF THE SOUTH FEDERAL UNIVERSITY / 2013</h3>
        <p>Technological Park is quite a new type of building for Russia and, in particular, in my city, Rostov-on-Don, there are no such facilities, which combine offices and representative institutions, public zones, conference halls, where wholesome business, research and training activities can be organized.</p>
        <p>The establishment of University’s Technological Park on the territory of the planned campus of the South Federal University may allow combining such functions as experimental laboratories, training, social, business and exposition centres, which will encourage students to start their career in business and science during studying at the university.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="i in [0,1,2,3,4,5,6,7,8]">
        <a class="thumbnail" rel="group2" ng-click="imgclick($event);" 
            href="/images/proj/technopark/{{i}}.jpg">
            <img class="img-responsive" ng-src="/images/proj/technopark/thumbnail/{{i}}.jpg">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Puppet theater / 2012</h3>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="i in [0,1,2]">
        <a class="thumbnail" rel="group3" ng-click="imgclick($event);" 
            href="/images/proj/puppettheater/{{i}}.jpg">
            <img class="img-responsive" ng-src="/images/proj/puppettheater/thumbnail/{{i}}.jpg">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Architectural Thesis / 2014</h3>
        <p>NEO - METABOLISM <a class="link subtle" href="/pdf/thesis.pdf"><span class="glyphicon glyphicon-file"></span>(pdf)</a></p>
        <p>“How do principles of Metabolism help us to shape our 21st century megacities?”
From the beginning of human history and especially in the modern period our world has been constantly expanding, and architects, as specialists in organizing spaces for life, should depict their own vision for the growing cities of the Future.</p>
        <p>In 1960 Metabolists were faced with a similar issue of overcrowding that leads them to seek solutions on the water and air. Today, in the 21st century we are in the midst of a technological revolution which gives a rise to new opportunities to reassess how we conceive of space and building. With increasing threat from global warming and estimated population growth we need to reassess the way we occupy land, water and air. So, this thesis seeks to identify a new set of principles for Neo-metabolism architecture in the West which is based on the ideas and principles of the future cities and the future architecture which were proposed in 1960s, and establish whether this kind of architecture, which I will describe as Neometabolism, can help us to shape our 21st century megacities.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="i in [0,1,2,3,4]">
        <a class="thumbnail" rel="group4" ng-click="imgclick($event);" 
            href="/images/proj/thesis/{{i}}.jpg">
            <img class="img-responsive" ng-src="/images/proj/thesis/thumbnail/{{i}}.jpg">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Technical</h3>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="i in [0,1,2,3]">
        <a class="thumbnail" rel="group5" ng-click="imgclick($event);" 
            href="/images/proj/technical/{{i}}.jpg">
            <img class="img-responsive" ng-src="/images/proj/technical/thumbnail/{{i}}.jpg">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Model Making Skills</h3>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="i in [0,1,2,3,4]">
        <a class="thumbnail" rel="group6" ng-click="imgclick($event);" 
            href="/images/proj/modelmaking/{{i}}.jpg">
            <img class="img-responsive" ng-src="/images/proj/modelmaking/thumbnail/{{i}}.jpg">
        </a>
    </div>
</div>


<script type="text/javascript">
    $(function(){
        'use strict';
        jQuery('a.thumbnail').colorbox();
    });
</script>
